$maxWidth: 1310; //ширина контейнера

$title-color: #232F3E; //цвет заголовков
$text-color: #3E596C; //цвет основного текста
$first-accent-light: #4965AE; //акцентный синий (светлый)
$first-accent-dark: #344F96; //акцентный синий (темный)
$second-accent: #59C49E; //акцентный зеленый
$gray: #F4F6FB; //серый